<launch>

    <node name="pid_control" pkg="pid_control" type="pid_control" output="screen">
        <!--param name="frame" value="$(arg frame)"/>
        <param name="worldFrame" value="$(arg worldFrame)"/>
        <rosparam command="load" file="$(find tb3_navigation)/config/utils.yaml"/-->

        <remap from="pid_control/cmd_vel" to="cmd_vel"/>
        <remap from="pid_control/odom" to="odom"/>
        <remap from="pid_control/visualization_marker" to="visualization_marker"/>

    </node>


</launch>
